.showmenu .left {
    display: block;
}

.hidemenu .left {
    display: none;
}

.showmenu .right {
    left: 220px;
}

.hidemenu .right {
    left: 0px;
}

.left {
    position: absolute;
    top: 0px;
    width: 220px;
    left: 0px;
    bottom: 0px;
    z-index: 7;
}
.menu {
    height: 100%;
}

.menu iframe {
    height: 100%;
    width:100%;
    z-index: 20;
}

.right {
    position: absolute;
    right: 0px;
    top: 1px;
    bottom: 0px;
    z-index: 7;
}
.main {
    height: 100%;
}

.main iframe {
    height: 100%;
    width: 100%;
    z-index: 20;
}
