/* CSS Document */
body, div, dl, dt, dd, ul, li, ol, h1, h2, h3, h4, h5, h6, p, input, span, a, img, b, table, tr, th, td, tbody, form, fiedset, pre, textarea, blockquote {
	margin: 0;
	padding: 0;
	border: none 0;
	list-style: none;
  }
  
  a {
	text-decoration: none;
	outline: none;
	color: #000;
  }
  
  img {
	display: block;
  }
  
  body {
	font-family: -apple-system,"PingFang SC","Helvetica Neue",STHeiti,"Microsoft Yahei",Tahoma,Simsun,sans-serif;
	font-size: 14px;
  }
  
  h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	
  }
  
  article, aside, figcaption, figure, footer, header, hgroup, nav, section, summary {
	margin: 0;
	padding: 0;
	display: block;
  }
  
  input, button, select, textarea {
	outline: none;
	font-family: "Microsoft YaHei";
	background: none;
	-webkit-appearance: none;
	border-radius: 0;
	border: none;
  }
  
  .fl {
	float: left;
  }
  
  .fr {
	float: right;
  }
  
  .clearfix:after {
	content: "";
	clear: both;
	display: block;
	font-size: 0;
	height: 0;
	overflow: hidden;
  }
  
  .clearfix {
	zoom: 1;
  }

.wrap {
	width:1000px;
	margin:0 auto;
}
.admin-content{
	width:260px;
	padding:100px 0 0;
	margin:0 auto;
}
.admin-content h2{font-size:20px; line-height: 50px;text-align: center;}
.admin-loginItem{
	margin-bottom:10px;
	overflow: hidden;
}
.admin-loginItem span{
	float:left;
	width:60px;
	font-size:14px;
	line-height: 30px;
}
.admin-loginItem input{float:left;
width:180px;
height:30px;
padding:0 10px;
border:1px solid #ccc;
}
.admin-loginItem img{
	float:left;
	height:28px;
	margin-left:5px;
	cursor: pointer;
}
.admin-loginItem input.code-txt{
	width:100px;
}
.login-btn{
	width:100px;
	height:36px;
	background:#5f8612;
	margin-left:60px;
	color:#fff;
	text-align: center;
	line-height: 36px;
	font-size:16px;
	cursor: pointer;
}